<!-- Title: about.component
Author: Megan Walker
Date: 07-16-2023
Description: About Component HTML page
Source: Professor Krasso, Angular.io -->

<div class="container">
    <h1>About Loan Calculator</h1>
    <p>Welcome to Loan Calculator, your go-to resource for estimating loan payments and planning your financial future.
    </p>
    <p>At Loan Calculator, we understand that financial decisions can be overwhelming. Whether you're considering a
        mortgage, car loan, personal loan, or any other type of loan, our goal is to simplify the process and provide
        you with accurate and reliable calculations.</p>
    <p>With our user-friendly loan calculator, you can quickly determine your monthly payments, total interest paid, and
        loan payoff time. Simply input the loan amount, interest rate, and loan term, and our calculator will generate
        the results for you.</p>
    <p>We are committed to empowering individuals and helping them make informed financial decisions. Our team of
        experts has designed this loan calculator to be intuitive and accessible to everyone, regardless of their
        financial background.</p>
    <p>Whether you're a first-time borrower or a seasoned investor, Loan Calculator is here to assist you. We strive to
        provide accurate calculations, educational resources, and valuable insights to support your financial planning
        process.</p>
    <p>Thank you for choosing Loan Calculator. We're dedicated to helping you navigate the world of loans and making
        confident financial choices.</p>
</div>